### Lab Tasks
- In the dataframe creates in Lab 2 - Part a set ``Salary`` as the target value. 
- The rest of the columns are considered as X, feature set. 
- Use ``train_test_split`` to split the dataset into train and test dataset. set ``random_state = 0``.
- Use ``MinMaxScaler`` to scale feature set X. 

### Lab Questions

In [1]:
import pandas as pd
data = pd.read_csv('adult.csv')

In [19]:
data = data[data != ' ?']

In [20]:
l = ['workclass', 'education', 'occupation', 'native-country']
data.drop(l, axis = 1, inplace = True)

In [4]:
df = pd.get_dummies(data['marital-status'])
data = pd.concat([data, df], axis = 1)
data.drop('marital-status', axis = 1, inplace=True)

In [5]:
df = pd.get_dummies(data['relationship'])
data = pd.concat([data, df], axis = 1)
data.drop('relationship', axis = 1, inplace=True)

In [6]:
df = pd.get_dummies(data['race'])
data = pd.concat([data, df], axis = 1)
data.drop('race', axis = 1, inplace=True)

In [7]:
data['sex'] = data['sex'].map({' Male':0, ' Female':1})

In [8]:
data['Salary'] = data['Salary'].map({' <=50K':0, ' >50K':1})

#### Question 1:
What is the ratio of label 1 to label 0? (consider two significant digits)

In [10]:
data.groupby(['Salary']).size()

Salary
0    24720
1     7841
dtype: int64

In [11]:
7841/24720

0.31719255663430423

#### Question 2: 
Consider the following scenario:
Government is securing a budget for low-income assistance programs. Assume this program will help low-income individuals/families with a fixed rate financial support. We need to have a good model to predict how many individuals/families are eligible for this assistance program. Beside accuracy which evaluation model should we use? 

```Python
' <=50K':0 - Negative
' >50K':1  - Positive```

#### Question 3 and 4:
Train a ``LogisticRegression`` model on this dataset. Set the hyper-parameters as follow: 
```Python
penalty = 'l1'
random_state = 0```
What is the train and test precision score? (with two significant digits)

In [12]:
import pandas as pd

X = data.drop('Salary', axis=1)
y = data['Salary']

In [13]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

X_train_org, X_test_org, y_train, y_test = train_test_split(X, y, random_state = 0)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train_org)
X_test = scaler.transform(X_test_org)

/usr/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [28]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty = 'l1',random_state = 0)
lr.fit(X_train, y_train)
lr_ptr = lr.predict(X_train)
lr_pte = lr.predict(X_test)

/usr/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [29]:
from sklearn.metrics import confusion_matrix

c_tr = confusion_matrix(y_train, lr_ptr)
c_te = confusion_matrix(y_test, lr_pte)
print("Confusion matrix:\n{}".format(c_tr))

Confusion matrix:
[[17272  1289]
 [ 2530  3329]]

In [30]:
print("Confusion matrix:\n{}".format(c_te))

Confusion matrix:
[[5724  435]
 [ 823 1159]]

In [31]:
3329/(3329+1289)

0.7208748375920312

In [32]:
1159/(1159+435)

0.7271016311166876

#### Question 5 and 6:
Train a dummy classifier that classifies everything as the majority class of the training data. What are the train and test accuracy of this classifier? (numbers with two significant digits)

In [33]:
from sklearn.dummy import DummyClassifier

dummy_majority = DummyClassifier(strategy='most_frequent')
dummy_majority.fit(X_train, y_train)

DummyClassifier(constant=None, random_state=None, strategy='most_frequent')

In [34]:
dummy_majority.score(X_train,y_train)

0.76007371007371

In [35]:
dummy_majority.score(X_test,y_test)

0.7565409654833558

#### Questions 7:
Train a ``LogisticRegression`` model on this dataset. Set the hyper-parameters as follow: 
```Python
penalty = 'l1'
random_state = 0``` 
What is the precision score when using a threshold of -2 on the decision function. Use ``X_test`` and ``y_test``. (2 significant digits)

In [21]:
data

,age,fnlwgt,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,Salary
0,39,77516,13,Never-married,Not-in-family,White,Male,2174,0,40,<=50K
1,50,83311,13,Married-civ-spouse,Husband,White,Male,0,0,13,<=50K
2,38,215646,9,Divorced,Not-in-family,White,Male,0,0,40,<=50K
3,53,234721,7,Married-civ-spouse,Husband,Black,Male,0,0,40,<=50K
4,28,338409,13,Married-civ-spouse,Wife,Black,Female,0,0,40,<=50K
5,37,284582,14,Married-civ-spouse,Wife,White,Female,0,0,40,<=50K
6,49,160187,5,Married-spouse-absent,Not-in-family,Black,Female,0,0,16,<=50K
7,52,209642,9,Married-civ-spouse,Husband,White,Male,0,0,45,>50K
8,31,45781,14,Never-married,Not-in-family,White,Female,14084,0,50,>50K
9,42,159449,13,Married-civ-spouse,Husband,White,Male,5178,0,40,>50K
10,37,280464,10,Married-civ-spouse,Husband,Black,Male,0,0,80,>50K
11,30,141297,13,Married-civ-spouse,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
12,23,122272,13,Never-married,Own-child,White,Female,0,0,30,<=50K
13,32,205019,12,Never-married,Not-in-family,Black,Male,0,0,50,<=50K
14,40,121772,11,Married-civ-spouse,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
15,34,245487,4,Married-civ-spouse,Husband,Amer-Indian-Eskimo,Male,0,0,45,<=50K
16,25,176756,9,Never-married,Own-child,White,Male,0,0,35,<=50K
17,32,186824,9,Never-married,Unmarried,White,Male,0,0,40,<=50K
18,38,28887,7,Married-civ-spouse,Husband,White,Male,0,0,50,<=50K
19,43,292175,14,Divorced,Unmarried,White,Female,0,0,45,>50K
20,40,193524,16,Married-civ-spouse,Husband,White,Male,0,0,60,>50K
21,54,302146,9,Separated,Unmarried,Black,Female,0,0,20,<=50K
22,35,76845,5,Married-civ-spouse,Husband,Black,Male,0,0,40,<=50K
23,43,117037,7,Married-civ-spouse,Husband,White,Male,0,2042,40,<=50K
24,59,109015,9,Divorced,Unmarried,White,Female,0,0,40,<=50K
25,56,216851,13,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
26,19,168294,9,Never-married,Own-child,White,Male,0,0,40,<=50K
27,54,180211,10,Married-civ-spouse,Husband,Asian-Pac-Islander,Male,0,0,60,>50K
28,39,367260,9,Divorced,Not-in-family,White,Male,0,0,80,<=50K
29,49,193366,9,Married-civ-spouse,Husband,White,Male,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32531,30,33811,13,Never-married,Not-in-family,Asian-Pac-Islander,Female,0,0,99,<=50K
32532,34,204461,16,Married-civ-spouse,Husband,White,Male,0,0,60,>50K
32533,54,337992,13,Married-civ-spouse,Husband,Asian-Pac-Islander,Male,0,0,50,>50K
32534,37,179137,10,Divorced,Unmarried,White,Female,0,0,39,<=50K
32535,22,325033,8,Never-married,Own-child,Black,Male,0,0,35,<=50K
32536,34,160216,13,Never-married,Not-in-family,White,Female,0,0,55,>50K
32537,30,345898,9,Never-married,Not-in-family,Black,Male,0,0,46,<=50K
32538,38,139180,13,Divorced,Unmarried,Black,Female,15020,0,45,>50K
32539,71,287372,16,Married-civ-spouse,Husband,White,Male,0,0,10,>50K
32540,45,252208,9,Separated,Own-child,White,Female,0,0,40,<=50K
32541,41,202822,9,Separated,Not-in-family,Black,Female,0,0,32,<=50K
32542,72,129912,9,Married-civ-spouse,Husband,White,Male,0,0,25,<=50K
32543,45,119199,12,Divorced,Unmarried,White,Female,0,0,48,<=50K
32544,31,199655,14,Divorced,Not-in-family,Other,Female,0,0,30,<=50K
32545,39,111499,12,Married-civ-spouse,Wife,White,Female,0,0,20,>50K
32546,37,198216,12,Divorced,Not-in-family,White,Female,0,0,40,<=50K
32547,43,260761,9,Married-civ-spouse,Husband,White,Male,0,0,40,<=50K
32548,65,99359,15,Never-married,Not-in-family,White,Male,1086,0,60,<=50K
32549,43,255835,10,Divorced,Other-relative,White,Female,0,0,40,<=50K
32550,43,27242,10,Married-civ-spouse,Husband,White,Male,0,0,50,<=50K
32551,32,34066,6,Married-civ-spouse,Husband,Amer-Indian-Eskimo,Male,0,0,40,<=50K
32552,43,84661,11,Married-civ-spouse,Husband,White,Male,0,0,45,<=50K
32553,32,116138,14,Never-married,Not-in-family,Asian-Pac-Islander,Male,0,0,11,<=50K
32554,53,321865,14,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
32555,22,310152,10,Never-married,Not-in-family,White,Male,0,0,40,<=50K
32556,27,257302,12,Married-civ-spouse,Wife,White,Female,0,0,38,<=50K
32557,40,154374,9,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
32558,58,151910,9,Widowed,Unmarried,White,Female,0,0,40,<=50K
32559,22,201490,9,Never-married,Own-child,White,Male,0,0,20,<=50K
32560,52,287927,9,Married-civ-spouse,Wife,White,Female,15024,0,40,>50K

In [22]:
data.iloc[data['age'].idxmax()][['fnlwgt']]

fnlwgt    51744
Name: 222, dtype: object

In [23]:
data['age'].max()

90

In [2]:
df = data

In [11]:
x = df.groupby('age').agg('max')

In [15]:
x[[age < 20]]

NameError: name 'age' is not defined

In [18]:
x['fasfasf']=1
x

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary,fasfasf
age,,,,,,,,,,,,,,,
17,State-gov,806316,Some-college,10,Never-married,Transport-moving,Unmarried,White,Male,34095,1721,48,United-States,<=50K,1
18,State-gov,761006,Some-college,14,Widowed,Transport-moving,Wife,White,Male,34095,1721,72,United-States,<=50K,1
19,Without-pay,860348,Some-college,13,Separated,Transport-moving,Wife,White,Male,34095,2129,99,Vietnam,>50K,1
20,State-gov,745817,Some-college,14,Separated,Transport-moving,Wife,White,Male,34095,2258,84,Yugoslavia,<=50K,1
21,Without-pay,766115,Some-college,14,Separated,Transport-moving,Wife,White,Male,99999,2603,98,Vietnam,>50K,1
22,Without-pay,615367,Some-college,13,Widowed,Transport-moving,Wife,White,Male,99999,2824,98,Yugoslavia,>50K,1
23,State-gov,1038553,Some-college,14,Separated,Transport-moving,Wife,White,Male,14344,2559,80,Vietnam,>50K,1
24,State-gov,1085515,Some-college,16,Separated,Transport-moving,Wife,White,Male,99999,2205,99,Vietnam,>50K,1
25,State-gov,1484705,Some-college,15,Widowed,Transport-moving,Wife,White,Male,27828,2339,99,Yugoslavia,>50K,1
26,State-gov,917220,Some-college,15,Widowed,Transport-moving,Wife,White,Male,99999,2377,99,Vietnam,>50K,1
27,State-gov,706026,Some-college,16,Widowed,Transport-moving,Wife,White,Male,41310,2377,99,Vietnam,>50K,1
28,State-gov,791084,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2339,99,United-States,>50K,1
29,Without-pay,1268339,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2754,99,Yugoslavia,>50K,1
30,State-gov,1184622,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2258,99,Vietnam,>50K,1
31,State-gov,1033222,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,99,Yugoslavia,>50K,1
32,State-gov,981628,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,United-States,>50K,1
33,State-gov,1161363,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2603,99,Vietnam,>50K,1
34,State-gov,849857,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3770,99,United-States,>50K,1
35,State-gov,1226583,Some-college,16,Widowed,Transport-moving,Wife,White,Male,27828,2377,99,Yugoslavia,>50K,1
36,State-gov,930948,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,99,Yugoslavia,>50K,1
37,State-gov,910398,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,Vietnam,>50K,1
38,State-gov,809585,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3770,99,Vietnam,>50K,1
39,State-gov,1455435,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2444,99,United-States,>50K,1
40,State-gov,799281,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2444,99,Yugoslavia,>50K,1
41,State-gov,806552,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3900,91,Yugoslavia,>50K,1
42,State-gov,1125613,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2444,99,United-States,>50K,1
43,State-gov,972354,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2547,99,Yugoslavia,>50K,1
44,State-gov,889965,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2547,99,Vietnam,>50K,1
45,State-gov,1366120,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3004,99,Yugoslavia,>50K,1
46,Without-pay,695411,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2824,96,Vietnam,>50K,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,State-gov,532845,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2559,84,United-States,>50K,1
61,State-gov,716416,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2754,99,United-States,>50K,1
62,Without-pay,664366,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,99,United-States,>50K,1
63,State-gov,795830,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2559,98,Vietnam,>50K,1
64,State-gov,631947,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2179,99,United-States,>50K,1
65,Without-pay,469602,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2377,99,United-States,>50K,1
66,State-gov,427422,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,4356,99,Yugoslavia,>50K,1
67,Without-pay,431426,Some-college,16,Widowed,Transport-moving,Wife,White,Male,20051,2457,99,United-States,>50K,1
68,Without-pay,493363,Some-college,16,Widowed,Transport-moving,Wife,White,Male,25124,3683,90,United-States,>50K,1
69,State-gov,660461,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2282,72,United-States,>50K,1
70,State-gov,642830,Some-college,16,Widowed,Transport-moving,Wife,White,Male,20051,2377,80,Vietnam,>50K,1
71,State-gov,494223,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2489,75,United-States,>50K,1
72,Without-pay,497280,Some-college,16,Widowed,Tech-support,Wife,White,Male,99999,2392,99,United-States,>50K,1
73,State-gov,349347,Some-college,15,Widowed,Transport-moving,Wife,White,Male,25124,2457,99,Vietnam,>50K,1
74,State-gov,392886,Some-college,16,Widowed,Transport-moving,Unmarried,White,Male,99999,3683,56,United-States,>50K,1
75,State-gov,316119,Some-college,16,Widowed,Transport-moving,Wife,White,Male,25124,2174,70,United-States,>50K,1
76,Self-emp-not-inc,431192,Some-college,15,Widowed,Transport-moving,Unmarried,White,Male,20051,1258,50,United-States,>50K,1
77,Self-emp-not-inc,344425,Some-college,16,Widowed,Sales,Wife,White,Male,20051,1944,50,United-States,>50K,1
78,Self-emp-not-inc,385242,Some-college,14,Widowed,Transport-moving,Unmarried,White,Male,99999,2392,60,United-States,>50K,1
79,Self-emp-not-inc,333230,Some-college,16,Widowed,Sales,Wife,White,Male,20051,0,45,United-States,>50K,1
80,Self-emp-not-inc,562336,Some-college,16,Widowed,Prof-specialty,Unmarried,White,Male,10605,1816,60,United-States,>50K,1
81,State-gov,364099,Some-college,15,Widowed,Transport-moving,Wife,White,Male,2936,2377,60,United-States,>50K,1
82,Self-emp-not-inc,403910,Some-college,11,Widowed,Sales,Unmarried,White,Male,0,4356,50,United-States,<=50K,1
83,Self-emp-not-inc,272248,HS-grad,13,Widowed,Sales,Not-in-family,White,Male,20051,2392,55,United-States,>50K,1
84,Self-emp-not-inc,388384,Some-college,14,Widowed,Sales,Not-in-family,White,Male,0,0,66,United-States,>50K,1
85,Self-emp-not-inc,166027,HS-grad,13,Widowed,Sales,Unmarried,White,Male,0,0,50,United-States,<=50K,1
86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K,1
87,?,90338,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,2,United-States,<=50K,1
88,Self-emp-not-inc,206291,Some-college,15,Married-civ-spouse,Prof-specialty,Unmarried,White,Male,0,0,40,United-States,<=50K,1
90,Self-emp-not-inc,313986,Some-college,15,Widowed,Transport-moving,Wife,White,Male,20051,4356,99,United-States,>50K,1