# <font color='red'> Project 1

### Project description:
- Please read the Data Set Information section to learn about this dataset. 
- Data description is also provided for thi dataset.
- Read data into Jupyter notebook, use pandas to import data into a data frame
- Preprocess data: Explore data, check for missing data and apply data scaling. Justify the type of scaling used.

### Regression Task:
- Apply all the regression models you've learned so far. If your model has a scaling parameter(s) use Grid Search to find the best scaling parameter. Use plots and graphs to help you get a better glimpse of the results. 
- Then use cross validation to find average training and testing score. 
- Your submission should have at least the following regression models: KNN repressor, linear regression, Ridge, Lasso, polynomial regression, SVM both simple and with kernels. 
- Finally find the best regressor for this dataset and train your model on the entire dataset using the best parameters and predict buzz for the test_set.

### Classification task:
- Decide aboute a good evaluation strategy and justify your choice.
- Find best parameters for following classification models: KNN classifcation, Logistic Regression, Linear Supprt Vector Machine, Kerenilzed Support Vector Machine, Decision Tree. 
- Which model gives the best results?

### Deliverables:
- Submit IPython notebook. Use markdown to provide an inline comments for this project.
- Submit only one notebook. Before submitting, make sure everything runs as expected. To check that, restart the kernel (in the menubar, select Kernel > Restart) and then run all cells (in the menubar, select Cell > Run All).
- Visualization encouraged. 

### Questions regarding project:
- Post your queries related to project on discussion board on e-learning. There is high possibility that your classmate has also faced the same problem and knows the solution. This is an effort to encourage collaborative learning and also making all the information available to everyone. We will also answer queries there. We will not be answering any project related queries through mail.

---
### Data Set Information:
This dataset is taken from a research explained here. 

The goal of the research is to help the auditors by building a classification model that can predict the fraudulent firm on the basis the present and historical risk factors. The information about the sectors and the counts of firms are listed respectively as Irrigation (114), Public Health (77), Buildings and Roads (82), Forest (70), Corporate (47), Animal Husbandry (95), Communication (1), Electrical (4), Land (5), Science and Technology (3), Tourism (1), Fisheries (41), Industries (37), Agriculture (200).

There are two csv files to present data. Please merge these two datasets into one dataframe. All the steps should be done in Python. Please don't make any changes in csv files. Consider ``Audit_Risk`` as target columns for regression tasks, and ``Risk`` as the target column for classification tasks. 

### Attribute Information:
Many risk factors are examined from various areas like past records of audit office, audit-paras, environmental conditions reports, firm reputation summary, on-going issues report, profit-value records, loss-value records, follow-up reports etc. After in-depth interview with the auditors, important risk factors are evaluated and their probability of existence is calculated from the present and past records.


### Relevant Papers:
Hooda, Nishtha, Seema Bawa, and Prashant Singh Rana. 'Fraudulent Firm Classification: A Case Study of an External Audit.' Applied Artificial Intelligence 32.1 (2018): 48-64.

In [1]:
import pandas as pd
import numpy as np
raw_data = pd.read_csv('audit_risk.csv')
#raw_data1 = pd.read_csv('audit_risk.csv')
#raw_data2 = pd.read_csv('trial.csv')

In [3]:
## Data Preview

In [4]:
raw_data.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,23,4.18,0.6,2.508,2.50,0.2,0.500,6.68,5.0,...,0.4,0,0.2,0.0,2.4,8.574,0.4,0.5,1.7148,1
1,3.89,6,0.00,0.2,0.000,4.83,0.2,0.966,4.83,5.0,...,0.4,0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0
2,3.89,6,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,...,0.4,0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0
3,3.89,6,0.00,0.2,0.000,10.80,0.6,6.480,10.80,6.0,...,0.4,0,0.2,0.0,4.4,17.530,0.4,0.5,3.5060,1
4,3.89,6,0.00,0.2,0.000,0.08,0.2,0.016,0.08,5.0,...,0.4,0,0.2,0.0,2.0,1.416,0.4,0.5,0.2832,0

In [5]:
raw_data.shape

(776, 27)

In [6]:
raw_data.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,...,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.0,776.000000,776.000000
mean,20.184536,2.450194,0.351289,1.351029,10.799988,0.313144,6.334008,13.218481,5.067655,0.223711,...,0.519072,0.104381,0.216753,0.053608,2.702577,17.680612,0.572680,0.5,7.168158,0.393041
std,24.319017,5.678870,0.174055,3.440447,50.083624,0.169804,30.072845,51.312829,0.264449,0.080352,...,0.290312,0.531031,0.067987,0.305835,0.858923,54.740244,0.444581,0.0,38.667494,0.488741
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.210000,0.200000,0.042000,0.000000,0.200000,0.000000,0.537500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.583500,0.400000,0.5,0.316700,0.000000
50%,3.890000,0.875000,0.200000,0.175000,0.405000,0.200000,0.081000,1.370000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.214000,0.400000,0.5,0.555600,0.000000
75%,55.570000,2.480000,0.600000,1.488000,4.160000,0.400000,1.840500,7.707500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.250000,10.663500,0.400000,0.5,3.249900,1.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

In [7]:
raw_data.isnull().values.any()

True

In [8]:
a = np.array(raw_data.isnull().sum())
np.where(a > 0)

(array([12], dtype=int64),)

In [9]:
raw_data[raw_data.columns[12]].describe(include='all')

count    775.000000
mean      14.137631
std       66.606519
min        0.000000
25%        0.000000
50%        0.090000
75%        5.595000
max      935.030000
Name: Money_Value, dtype: float64

In [10]:
raw_data[raw_data.columns[12]].isnull().sum()

1

In [11]:
raw_data.shape

(776, 27)

In [12]:
raw_data = raw_data.dropna()

In [13]:
raw_data.shape

(775, 27)

In [14]:
raw_data[pd.to_numeric(raw_data['LOCATION_ID'], errors='coerce').isnull()]

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
351,1.99,LOHARU,0.30,0.2,0.060,0.0,0.2,0.0,0.30,5.0,...,0.4,0,0.2,0.0,2.0,1.460,0.4,0.5,0.2920,0
355,1.99,NUH,0.55,0.2,0.110,0.0,0.2,0.0,0.55,5.0,...,0.4,0,0.2,0.0,2.0,1.644,0.4,0.5,0.3288,0
367,1.99,SAFIDON,0.48,0.2,0.096,0.0,0.2,0.0,0.48,5.0,...,0.4,0,0.2,0.0,2.0,1.590,0.4,0.5,0.3180,0

In [15]:
raw_data = raw_data[pd.to_numeric(raw_data['LOCATION_ID'], errors='coerce').notnull()]

In [16]:
list(raw_data)

['Sector_score',
 'LOCATION_ID',
 'PARA_A',
 'Score_A',
 'Risk_A',
 'PARA_B',
 'Score_B',
 'Risk_B',
 'TOTAL',
 'numbers',
 'Score_B.1',
 'Risk_C',
 'Money_Value',
 'Score_MV',
 'Risk_D',
 'District_Loss',
 'PROB',
 'RiSk_E',
 'History',
 'Prob',
 'Risk_F',
 'Score',
 'Inherent_Risk',
 'CONTROL_RISK',
 'Detection_Risk',
 'Audit_Risk',
 'Risk']

In [17]:
## Creating test and control groups

In [18]:
x = raw_data.drop(['Audit_Risk','Risk'],axis=1)
y_reg = raw_data['Audit_Risk']
y_class = raw_data['Risk']

In [19]:
from sklearn.model_selection import train_test_split

# default is 75% / 25% train-test split
x_train_reg, x_test_reg, y_train_reg, y_test_reg = train_test_split(x, y_reg, random_state=0)
x_train_class, x_test_class, y_train_class, y_test_class = train_test_split(x, y_class, random_state=0)

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train_reg = scaler.fit_transform(x_train_reg)
x_test_reg = scaler.transform(x_test_reg)

x_train_class = scaler.fit_transform(x_train_class)
x_test_class = scaler.transform(x_test_class)

c:\users\navarurh\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
c:\users\navarurh\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()
param_grid = {'n_neighbors':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]}
grid_search = GridSearchCV(knn, param_grid, scoring='recall_weighted', return_train_score=True)
grid_search.fit(x_train_class, y_train_class.values.ravel())

c:\users\navarurh\appdata\local\programs\python\python36\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='recall_weighted', verbose=0)

In [23]:
print(grid_search.best_params_)
print(grid_search.best_score_)
results = pd.DataFrame(grid_search.cv_results_)
results

{'n_neighbors': 1}
0.9637305699481865

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,mean_train_score,std_train_score
0,0.000998,8.147827e-04,0.007991,0.000017,1,{'n_neighbors': 1},0.979381,0.953368,0.958333,0.963731,0.011293,1,1.000000,1.000000,1.000000,1.000000,0.000000
1,0.000327,4.618171e-04,0.007965,0.000012,2,{'n_neighbors': 2},0.958763,0.932642,0.953125,0.948187,0.011230,2,0.966234,0.966321,0.971576,0.968044,0.002498
2,0.000665,4.704719e-04,0.007314,0.000452,3,{'n_neighbors': 3},0.958763,0.932642,0.937500,0.943005,0.011360,6,0.966234,0.971503,0.974160,0.970632,0.003294
3,0.000998,1.048138e-05,0.006978,0.000006,4,{'n_neighbors': 4},0.958763,0.922280,0.932292,0.937824,0.015414,13,0.953247,0.958549,0.948320,0.953372,0.004177
4,0.000333,4.702464e-04,0.007650,0.000453,5,{'n_neighbors': 5},0.953608,0.922280,0.942708,0.939551,0.012998,12,0.958442,0.963731,0.958656,0.960276,0.002444
5,0.000674,4.764943e-04,0.007637,0.000464,6,{'n_neighbors': 6},0.963918,0.917098,0.916667,0.932642,0.022201,15,0.955844,0.953368,0.943152,0.950788,0.005493
6,0.000665,4.704714e-04,0.007655,0.000458,7,{'n_neighbors': 7},0.969072,0.932642,0.932292,0.944732,0.017278,4,0.953247,0.961140,0.950904,0.955097,0.004379
7,0.001016,1.362166e-05,0.007295,0.000465,8,{'n_neighbors': 8},0.958763,0.932642,0.921875,0.937824,0.015498,13,0.950649,0.953368,0.948320,0.950779,0.002063
8,0.000997,2.141348e-06,0.007304,0.000477,9,{'n_neighbors': 9},0.963918,0.943005,0.932292,0.946459,0.013140,3,0.953247,0.955959,0.953488,0.954231,0.001225
9,0.001007,1.337602e-05,0.008312,0.000470,10,{'n_neighbors': 10},0.963918,0.943005,0.921875,0.943005,0.017164,6,0.945455,0.953368,0.956072,0.951632,0.004505
10,0.000676,4.781741e-04,0.007961,0.000009,11,{'n_neighbors': 11},0.963918,0.943005,0.927083,0.944732,0.015087,4,0.948052,0.955959,0.953488,0.952500,0.003303
11,0.000674,4.767061e-04,0.007985,0.000014,12,{'n_neighbors': 12},0.963918,0.937824,0.927083,0.943005,0.015477,6,0.948052,0.955959,0.953488,0.952500,0.003303
12,0.000997,2.247832e-07,0.007990,0.000015,13,{'n_neighbors': 13},0.963918,0.937824,0.927083,0.943005,0.015477,6,0.945455,0.955959,0.956072,0.952495,0.004979
13,0.000999,2.259155e-05,0.007636,0.000464,14,{'n_neighbors': 14},0.963918,0.937824,0.921875,0.941278,0.017336,10,0.945455,0.950777,0.956072,0.950768,0.004335
14,0.000666,4.706964e-04,0.008650,0.000459,15,{'n_neighbors': 15},0.963918,0.937824,0.921875,0.941278,0.017336,10,0.948052,0.953368,0.956072,0.952497,0.003332

In [24]:
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(x_train_class, y_train_class)

from sklearn.metrics import recall_score, accuracy_score

y_train_predict = knn.predict(x_train_class)
print('Accuracy of Training: {:.2f}'.format(accuracy_score(y_train_class, y_train_predict)))
y_predict = knn.predict(x_test_class)
print('Accuracy: {:.2f}'.format(accuracy_score(y_test_class, y_predict)))
print('Recall: {:.5f}'.format(recall_score(y_test_class, y_predict, average="weighted")))


from sklearn.metrics import classification_report

print(classification_report(y_test_class, y_predict))

Accuracy of Training: 1.00
Accuracy: 0.96
Recall: 0.95855
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       118
           1       0.95      0.95      0.95        75

   micro avg       0.96      0.96      0.96       193
   macro avg       0.96      0.96      0.96       193
weighted avg       0.96      0.96      0.96       193